body {
    color: white;
    background-color: #add6ff;
    width: auto;
    border: 0;
    padding: 1%;
    margin: 0;
    font-family: Courier New;
}

table, th, td {
   border: 1px solid white;
}

table {
  width: auto;
}

th, td {
  padding: 1%;
}

th {
  font-size: 20px;
}

#nonmain {
  border: 1px solid #add6ff;
}

a, .link {
  color: #1b8279;
}

.header {
  text-align: center;
  font-size: 35px;
  padding: 0;
}

hr {
    display: block;
    border: 0;
    border-top: 1px solid white;
    margin: 1em 0;
    padding: 0; 
}

.whitetext {
  color: black;
}


