body {
    color: white;
    background-color: #add6ff;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}

table, th, td {
   border: 1px solid white;
}

table {
  width: 100%;
}

th, td {
  padding: 2%;
}

th {
  font-size: 20px;
}

#nonmain {
  border: 1px solid #add6ff;
}

a, p {
  color: #1b8279;
}
