.content {
  width: auto;
  border: 0;
  padding: 1%;
  margin: 0;
}
 
body {
 background-image: url('https://static01.nyt.com/images/2014/05/23/dining/Coconut-Noodles/Coconut-Noodles-superJumbo.jpg');
 background-color: #c8dff1;
 font-family: Comic Sans MS;
}

h1 {
  color:white;
  font-size:60px;
  font-family: Courier New;
}

a, p {
  color:white;
 font-size:23px;
}
